.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

/* Create two equal columns that sits next to each other */
.col-md-4 {
    flex: 50%;
    padding: 0 4px;
  }
  
  .img-thumbnail {
    margin-top: 8px;
    vertical-align: middle;
    width:100px; 
    height:80px;
  }

  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
  }

  /* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
  }

.col-md-8 {
    border: 4px;
    border-style: solid;
    padding-top: 20px;
    background-color: white;
}

.col-md-3 {
    border: 4px;
    border-style: solid;
    padding-top: 20px;
    margin-left: 20px;
    border-bottom-style: solid;
    background-color: white;
}


.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-thumbnail-active {
    border-style: solid;
    color: #4CAF50;
    margin-top: 8px;
    vertical-align: middle;
    width:100px; 
    height:80px;
}

.par-block {
    margin-top: 30px;
}

.table {
  width: 1000px;
  table-layout: fixed;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
  background-color: white;
  
}

.comparisons {
  width: 1200px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}

.table-center {
  margin-right: auto;
  margin-left: auto;
}

.weather-par {
  padding-top: 10px;
}

.jumbotron {
  background-image: url('../assets/images/weatherbanner.png'); 
	background-size: cover; 
  background-repeat: no-repeat;
}

.jumbotron-center {
  background-color: black;
  color: rgb(55, 201, 55);
  text-align: center;
}

.navbar {
  margin-bottom: 20px;
}

.background-color {
  background-color: rgba(205, 205, 240, 0.582);
}

@media (max-width: 780px){
  .background-color {
    background-color: white;
  }
  .col-md-8 {
    border: none;  
  }

  .col-md-3 {
    border: none;
  }

  .comparisons {
    width: auto;
  }

  .table {
    width: auto;
  }
}
